<aside app-main-menu id="left-panel" class="left-panel"> </aside>
<!-- /#left-panel -->

<!-- Left Panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

  <!-- Header-->
  <header id="header" class="header">

    <div class="header-menu">

    </div>

  </header>
  <!-- /header -->
  <!-- Header-->

  <!-- <app-bread-crumbs></app-bread-crumbs> -->

  <div class="content mt-3">
    <!--Content-->

    <!-- .content -->
  </div>

</div>
<!-- /#right-panel -->
<!-- Right Panel -->
